<a href="https://colab.research.google.com/github/07065466095/07065466095/blob/main/Week_5_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing datafram

In [15]:

import pandas as pd

# create a dataframe
data = {'Name': ['John', 'Alice', 'Bob', 'Emma', 'Mike', 'Sarah', 'David', 'Linda', 'Tom', 'Emily'],
        'Age': [25, 30, 35, 28, 32, 27, 40, 33, 29, 31],
        'City': ['New York', 'Paris', 'London', 'dutse', 'fagoji', 'Berlin', 'Rome', 'Madrid', 'kano', 'Moscow']}
df = pd.DataFrame(data)

# display the first three rows
print('First Three Rows:')
print(df.head(3))
print()

# display the first five rows
print('First Five Rows:')
print(df.head())

First Three Rows:
    Name  Age      City
0   John   25  New York
1  Alice   30     Paris
2    Bob   35    London

First Five Rows:
    Name  Age      City
0   John   25  New York
1  Alice   30     Paris
2    Bob   35    London
3   Emma   28     dutse
4   Mike   32    fagoji